#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.panel-box {
  display: flex;
  /* width: 90%; */
  flex-wrap: wrap;
  justify-content: center;
}

.panel-card {
  background-color: aquamarine;
  padding: 1em;
  margin: 15px;
  height: 150px;
  width: 150px;
}

.img-prvw {
  height: 75px;
  
}

.panel-title {
  font-weight: 800;
}

.nav-deck {
  background-color: palegreen;
}

.nav-btns {
  
  display: flex;
  flex-direction: column;
}

.nav-btns > li {
  margin: 5px;
  /* padding: 5px;  */
  text-align: left;
  list-style: arabic-indic;
}

.nav-btns > li > button {
  background-color: whitesmoke;
  border-bottom-left-radius: 20px;
  width: 70%;
  margin-left: 20px;
}

li::marker {
  padding: 0px;
  margin: 0px;
  font-size: 1.4em;
}